.dropdown-item {
  color: #f8f9fa;
}
.dropdown-item:focus, .dropdown-item:hover {
  color: #f8f9fa;
  text-decoration: none;
  background-color: #f8f9fa67;
}

.dropdown-item:active {
  color: #16181b;
  text-decoration: none;
  background-color: #f3f6fad2;
}

button:focus {
  outline: 5px auto #f8f9fa;
}