#moviecontent {
  color: #f8f9fa;
  background: rgb(93, 93, 93);
}

.bg-opacity {
  background: rgba(93, 93, 93, 0.65) !important;
}

a {
  color: white;
}

a:hover {
  color: rgb(255, 255, 255, 0.5);
}